/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar{
    background-color: rgb(175, 175, 175); align-content: center; text-size-adjust: 200px ;
}
.margin
{
    margin: right 150px;
    
}